dist: xenial
language: python
python: "3.6"
install:
  - pip install ansible==2.8.12
  - apt-get install -y sshpass
script:
  - git clone https://github.com/sorrowless/ansible_controller_personal.git
  - cd ansible_controller_personal
  - ./tools/get-roles.sh common-roles.yml
  - ./tools/get-roles.sh get-vendor-roles.yml
  - ansible-playbook tools/switch-to-mitogen.yml
  - echo $ANSIBLE_VAULT_PASS > ./.vault
  - export ANSIBLE_VAULT_PASSWORD_FILE=./.vault
  - ansible-playbook run-personal-blog.yml -e @vars/extra.yaml
